# フロー制御の無効化
stty stop undef

set completion-ignore-case on
set bell-style none
set editing-mode vi
set keymap vi
set show-mode-in-prompt
set show-all-if-ambiguous
set show-all-if-unmodified

"\C-p": previous-history
"\C-n": next-history
"\C-f": forward-char
"\C-b": backward-char
"\C-a": beginning-of-line
"\C-e": end-of-line
"\C-l": clear-screen
